.header {
  background-color: hsla(155, 10%, 33%, 70%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  &__nav {
    display: flex;
    gap: 1rem;
  }

  & .icon {
    color: white;
    width: 1.5rem;
    height: auto;
  }

  & .logo_container {
    position: relative;
    width: 60%;
    aspect-ratio: 3/1;

    @media (min-width: 768px) {
      width: 40%;
    }
    @media (min-width: 1024px) {
      width: 30%;
    }
  }

  & ul {
    display: flex;
    gap: 1rem;
    color: white;
    text-transform: uppercase;
  }
}
